@font-face {
  font-family: 'Bosch';
  src: url('../fonts/Bosch.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf') format('ttf');
}

:root {
  /* colors */
  --main: #c1210d;
  --light-grey: #f5f6f7;
}

body {
  margin: 0;
}

.goBack {
  position: absolute;
  left: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: .3s;

  svg {
    width: 30px;
  }

  &:hover {
    text-decoration: underline;
    transition: .3s;
  }
}

.header {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
  }

  h1 {
    margin: 10px 0 0;
    color: var(--main);
    font-size: 80px;
    font-family: 'Bosch', sans-serif;
  }

  h2 {
    color: #333;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
  }
}

.body {
  max-height: 70vh;
  margin: 3vh 2vw;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--light-grey);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
  }

  .category {
    margin: 0;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 200;
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    margin: 0;
    padding: 2vh 2vw;
    list-style-type: none;

    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        height: 47vh;
        margin-bottom: 2vh;
        padding: 5px 10px;
        color: #000;
        border-radius: 10px;
        text-decoration: none;
        transition: .3s;

        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 10px 0px #ccc;
          transition: .3s;
        }

        img {
          height: 15vw;
          width: 15vw;
          object-fit: cover;
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        }

        p {
          margin: 0;
          font-size: 2vw;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          font-family: "Bosch", sans-serif !important;
        }
      }
    }
  }

  &#postBySlug {
    margin: 2vh 0;

    .header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 3vh;

      h2 {
        margin: 0 0 10px;
        font-size: 23px;
        text-transform: uppercase;
      }
    }

    img {
      height: 30vh;
      width: 100%;
      object-fit: cover;
    }

    .content {
      width: 65%;
      margin: 5vh auto;
    }
  }
}